fastapi
uvicorn[standard]
pydantic[email]
python-multipart
sqlalchemy
psycopg2-binary
python-jose[cryptography]
python-dotenv
passlib[bcrypt]
requests
pydantic-settings
alipay-sdk-python
fastapi_csrf_protect
redis
fastapi-limiter
bcrypt==3.2.2